/*Work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*Share style*/
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
}
body {
    border:1px solid #0B0223;
}

:root {
    --primary-color: #0B0223;
    --secondary-color: #534C64;
    --primary-font-size: 48px;
}

.primary-btn {
    color:white;
    border: none;
    margin-right: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 30px;
}

/*start header style*/
header {
    /* padding: 20px 50px; */
    /* background-color: aqua; */
}

/*Style navbar section*/
.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(128, 147, 147); */
}

/*style section left*/
.logo {
    display: flex;
    gap: 20px;
}
.logo-img {

}
.logo-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}

/*style section right*/
.manus {
    display: flex;
    align-items: center;
}
.manus> div {
    display: flex;
    align-items: center;
}
.manus .nav-icon {
    display: flex;
    text-align: center;
    padding: 15px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.manus li {
    list-style: none;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
}
.manus li a {
    text-decoration: none;
    color: #3C354F;
}

/*Style Banner section*/

/*style left side of banner section*/
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0px 150px

}
.banner-text {
    background-image: url("images/Group 14.png");
}
.banner-title-h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title-h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-desc {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-text-btn {
    padding-top: 20px;
}
.banner-btn-one {
    color:white;
    border: none;
    margin-right: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 30px;
}
.banner-btn-two {
    display: inline-flex;
    padding: 10px 30px;
    border: none;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border-radius: 48px;
    background: #4EC5F7;
}

/* style right side of banner section*/
.banner-img {
    max-width: 600px;
}
.banner-img img {
    width: 100%;
}

/*End header style*/
/*style Gamer section*/
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 200px;
    gap: 50px;
    
}
.gamer-img-container {
    max-width: 600px;
    max-height: 450px;
}
.gamer-img-container img {
    width: 100%;
}
.gamer-text-container {
    text-align: end;
    max-width: 490px;
}
.gammer-title {
    font-size: var(--primary-font-size);
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-desc {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;
}
.primary-btn {
    
}
.gamer-caption {
    padding: 10px 0px;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
}
.gamer-h5 {
    color: #534C64;
    font-size: 30px;
    font-weight: 700;
}

/*style Online Games section*/
.online-games-section {
    padding: 30px 0px;
}
.online-games-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
}
.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-desc {
    color: var(--secondary-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0px;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 1px solid red;
    padding: 20px 0px;
}
.card-box {
    max-width:200px;
    border: 1px solid black;
    
}
.card {
    
}
.card-img {
    max-width: 200px;
}
.card-desc {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;

}


/*Style play section*/
.play-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
.play-text {
    max-width: 400px;
    text-align: end;
}
.play-title {
    font-size: 40px;
    font-weight: 700;
}
.play-desc {
    padding: 20px 0px;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 400;
}
.play-image {
    border: 1px solid red;
    max-width: 400px;
}
.img-child {
    max-width: 150px;
    margin: -150px 0px 0px -50px;
}
.play-image img {
    width: 100%;
    border: 1px solid blue;
}

/*style button section*/
.button-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 300px;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-img {
    max-width: 30px;
}
.btn-desc {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
}

 .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    /* width: 10px; */
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #FF42A5;
    border-radius: 50px;
}


/*Responsive mobile device*/
@media screen and (max-width: 576px) {
    /*responsive navbar*/
    .navbar-section {
        flex-direction: column;
        
    }
    .manus {
        flex-direction: column;
        padding:20px;
        align-items: center;
    }
    .manus div {
        padding: 20px 0px;
        align-items: center;
    }

    /*responsive banner section*/
    .banner-section {
        flex-direction: column;
    }
    header {
        /* padding: 20px 0px; */
    }
    .banner-text {
        padding:25px 10px;
    }
    .banner-title-h2 {
        font-size: 35px;
    }
    .banner-title-h1 {
        font-size: 70px;

    }
    .banner-desc {
        font-size: 14px;
    }
    .banner-img img {
        width: 300px;
    }

    /*Responsive Gamer section*/
    .gamer-section {
        flex-direction: column;
        align-items: center;
        padding:20px 10px;
    }

    .gamer-text-container {
        text-align: center; 
    }
    
    /*Responsive online games section*/
    .online-games-title {

    }
    .online-games-desc {

    }
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    /*responsive play section*/
    .play-section {
        flex-direction: column;
    }
    .play-text {
        text-align: center;
    }
    .play-image {
        max-width: 300px;
    }
    .img-child {
        max-width: 150px;
        margin: -100px 0px 0px -30px;
    }
    .play-title {
        font-size: 30px;
    }
    .play-desc {
        font-size: 13px;

    }

    /*Responsive button section*/
    .button-section {
        padding: 30px 10px;
    }
    .btn-img {
        max-width: 25px;
    }
    .btn-desc {
        font-size: 10px;
        color: var(--primary-color);
        font-weight: 600;
    }
    
     .btn {
        padding: 5px 10px;
    }

}

/*Responsive tablet Device*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    /*responsive navbar*/
    .navbar-section {
        flex-direction: column; 
    }
    .manus {
        padding: 30px 0px;
    }

    /*responsive banner section*/
    .banner-section {
        flex-direction: column;
    }
    .banner-text {
        padding:35px 0px;
    }

    .banner-title-h2 {
        font-size: 48px;
    }
    .banner-title-h1 {
        font-size: 95px;

    }
    .banner-desc {
        font-size: 20px;
    }
    .banner-img img {
        width: 500px;
    }

        /*Responsive Gamer section*/
        .gamer-section {
            flex-direction: column;
            align-items: center;
            padding:20px 10px;
        }
        .gamer-img-container {
            max-width: 700px;
            max-height: 450px;
        }
    
        .gamer-text-container {
            text-align: center;
            max-width: 700px; 
        }
        /*REsponsive online games section*/
        .cards-container {
        flex-direction: column;
        align-items: center;

        }
        .card-box {
            max-width:500px;
            margin: 20px 70px;
        }
        .card {
            max-width: 500px;

        }

            /*responsive play section*/
    .play-section {
        flex-direction: column;
    }
    .play-text {
        text-align: center;
    }
    .play-image {
        max-width: 300px;
    }
    .img-child {
        max-width: 150px;
        margin: -100px 0px 0px -30px;
    }
    .play-title {
        font-size: 30px;
    }
    .play-desc {
        font-size: 13px;

    }

        /*Responsive button section*/
        .button-section {
            padding: 30px 10px;
        }
        .btn-img {
            max-width: 25px;
        }
        .btn-desc {
            font-size: 10px;
            color: var(--primary-color);
            font-weight: 600;
        }
        
         .btn {
            padding: 5px 10px;
        }
    
}